[Unit]
Description=Run Hamara Tunnel health check every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
Unit=hamara-healthcheck.service

[Install]
WantedBy=timers.target
